h4 {
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;
}
.tasksList {
  max-height: 204px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.tasksList .items {
  position: relative;
  list-style: none;
  width: 338px;
  height: 60px;
  background: #173da3;
  color: #a8b2c4;
  padding: 0 15px;
  line-height: 60px;
  border-radius: 20px;
  margin-bottom: 8px;
  font-size: 15px;
  letter-spacing: 0.5px;
  cursor: default;
  overflow: hidden;
}
.icon-trash,.icon-edit {
  margin-top: 3px;
  float: right;
  cursor: pointer;
  font-size: 20px;
}

.tasksList .single-item{
    position: relative;
}

.checkbox {
    position: absolute;
    top: 12px;
    right: 9px;

}
.checkCompleted{
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.checkCompleted:checked {
    background-color: rgb(199, 57, 57);
}

h2 {
  font-size: 30px;
  font-weight: 550;
  color: #fdfefe;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.inputField {
  display: flex;
  height: 45px;
  width: 100%;
  margin: 20px 0;
}

.inputField input {
    width: 85%;
    height: 100%;
    outline: none;
    border: 1px solid #ccc;
    font-size: 17px;
    border-radius: 5px;
    padding-left: 15px;
  }
  .inputField button {
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background: #98b5ff;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
    font-size: 22px;
    font-weight: 300;
  }
  .inputField button:hover{
    background-color: #6d8bd1
  }
  .inputField button .plus{
    margin-top: 6px;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
  }
  .footer span {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
  }
  .footer button {
    border: none;
    outline: none;
    background: #98b5ff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px 15px;
  }
  .footer button:hover {
    background-color: #6586d3;
  }
  